<main class="container">
    <h2>Formulário de template - Angular</h2>

    <form>
        <h2>Inserir dados pessoais</h2>
        <div>
            <!--Legenda-->
            <label>Nome Completo</label>
            <!--Recebimento-->
            <input name="nome" id="nome" type="text" />
        </div>
        <div>
            <label>Data de Nascimento</label>
            <input name="nascimento" id="nascimento" type="date" />
        </div>
        <div>
            <label>Email</label>
            <input name="email" id="email" type="email" placeholder="Digite um e-mail válido" />
            <label>Senha</label>
            <input name="senha" id="senha" type="password" placeholder="Digite sua senha" />
        </div>
        <div>
            <label>Selecione seu estado</label>
            <select id="estado" name="estado">
                <option value="MG">MG</option>
                <option value="PR">PR</option>
                <option value="SC">SC</option>
            </select>

            <button type="submit" class="btn">Enviar formulario</button>
        </div>

    </form>

</main>

<!--
    <section>
        <header>Topo</header>
        <nav></nav>
        <article></article>
        <main></main>
        <aside></aside>
        <footer></footer>
    </section>
-->